@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./custom.css";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.full-screen {
  @apply w-[100vw] h-[100vh];
}

.center {
  @apply flex justify-center items-center;
}

.main,
main {
  background-color: #000f29;
}

.fade {
  animation: fade 0.5s ease-in-out;
}

.bounce-in-right {
  animation: bounce-in-right 2s ease;
}

.bounce-in-left {
  animation: bounce-in-left 2s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(70%);
  }
  60% {
    opacity: 1;
    transform: translateX(0);
  }
  /* 80% { transform: translateX(10px); } */
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(0px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.currentlyactive {
  color: #007e9e;
  font-weight: bold;
  font-size: larger;
}
.page-item {
  font-size: larger;
  padding-left: 2px;
  padding-right: 2px;
}
.arrow-item {
  border-width: 1px;
  border-radius: 3px;
  border-color: white;
  background-color: white;
  color: #0381a0;
  font-size: larger;
  font-weight: bolder;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
}

.reveal {
  /* position: relative; */
  transform: translateY(7%);
  opacity: 1;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

#test {
  animation: bounce-in-top 2s ease;
}

#test2 {
  animation: bounce-in-top 4s ease;
}

#test3 {
  animation: bounce-in-top 5s ease;
}
@keyframes bounce-in-top {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.padding {
  @apply px-3 md:px-8 lg:px-32;
}

.slick-dots > li > button {
  border-radius: 50%;
  color: transparent !important;
  background-color: gray !important;
  width: 5px !important;
  height: 5px !important;
  margin-top: 20px !important;
  @apply center;
}

.slick-dots > li > button:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.slick-dots > .slick-active > button {
  background-color: white !important;
}

.slick-dots > li > button::before {
  content: "" !important;
}

#list {
  padding: 0;

  list-style: none;
}

#list li {
  float: left;

  text-align: center;

  opacity: 0;
  animation: fadeIn 1s ease-in both;
}
#list li button {
  padding-left: 20px;
  padding-right: 20px;
}
#list li:nth-child(2) {
  animation-delay: 1s;
}
#list li:nth-child(3) {
  animation-delay: 1s;
}
#list li:nth-child(4) {
  animation-delay: 2s;
}
#list li:nth-child(5) {
  animation-delay: 2s;
}
#list li:nth-child(6) {
  animation-delay: 4s;
}
#list li:nth-child(7) {
  animation-delay: 4s;
}
#list li:nth-child(8) {
  animation-delay: 3s;
}
#list li:nth-child(9) {
  animation-delay: 6s;
}
#list li:nth-child(10) {
  animation-delay: 6s;
}
#list li:nth-child(11) {
  animation-delay: 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.anim {
  width: max-content;
  position: relative;
  animation: MyAnim;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}
@keyframes MyAnim {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 1024px;
    top: 0px;
  }
}

@media only screen and (max-width: 620px) {
  .reveal {
    position: relative;

    transform: none;
  }

  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }

  .anim {
    width: max-content;
    position: relative;
    animation: MyAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: reverse;
  }
  @keyframes MyAnim {
    0% {
      left: -200px;
      top: 0px;
    }
    100% {
      left: 100px;
      top: 0px;
    }
  }
}

@media screen and (min-width: 620px) and (max-width: 860px) {
  #list li button {
    padding-left: 10px;
    padding-right: 10px;
  }
  .anim {
    width: max-content;
    position: relative;
    animation: MyAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: reverse;
  }
  @keyframes MyAnim {
    0% {
      left: -500px;
      top: 0px;
    }
    100% {
      left: 100px;
      top: 0px;
    }
  }
}

.customScrollbar::-webkit-scrollbar-track {
  border: 1px solid #007e9e;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

.customScrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #007e9e;
  border-radius: 100px;
}

.blur-bg-gradient {
  background: radial-gradient(
    97.57% 210.75% at 0.9% 2.98%,
    #203d99 0%,
    rgba(37, 29, 72, 0.64) 50%,
    #1c1232 100%
  );
  backdrop-filter: blur(30.9px);
}
/* change a bit */

.background-image-center {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.front-slide-hover {
  transform: scale(1);
  transition: 0.5s;
}

.front-page-slider:hover .front-slide-hover {
  transform: scale(1.2);
}

.front-page-slider {
  flex-grow: 0.2;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  backface-visibility: hidden;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}

.front-page-slider:hover .slide-dark-cover {
  opacity: 1;
}

.slide-dark-cover {
  background: linear-gradient(to bottom, #00000000, #000000);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.slide-explore-more-button {
  border: none;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
  border-radius: 45px;
  width: fit-content;
  padding: 5px 12px;
}

.slide-explore-more-button:hover {
  border: 1px solid white;
}

.slide-text-cover {
  background: linear-gradient(to right, #000000, #00000000);
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}
input[type="password"]::-webkit-input-decoration-container {
  display: none !important;
}

/* Prevent any blur on carousel images and their containers */
.carousel-no-blur,
.carousel-no-blur * {
  filter: none !important;
  -webkit-filter: none !important;
}

@media (min-width: 1024px) {
  html, body {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
  }
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
  }
}
